.home{
    color:blueviolet;
    background-color: rgb(14, 189, 101);
    margin: 15px 15px;
    border-radius: 15px;
    height: 100vh;
    box-shadow: 
	-10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);
    
}

.parent { 
    
    display: flex; 
    align-items: center;
    justify-content: space-around;   
    
} 
/* .child { 
    
    
    border-radius: 20px;
    background-color:blue;
    box-shadow: 	
    0px 5px 10px 0px rgba(0, 0, 0, 0.5);
} */
.child.left{
    color: rgb(255, 123, 0);
    background-color: rgb(241, 26, 26);
}
.child.right{ 
    display: flex;
    flex-direction: column;
    width: 40vh;
    background-color: rgb(41, 17, 151);
    
}

.tagline{    
    
    background-color: blue;    
}
.tagline h1{
    font-size: 90px;
    /* border: 12px solid black; */
    
}
.download-resume{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 49, 201);
}
.download-resume button{
    height : 5vh;
    background-color:purple;
    border: none;
    
    border-radius: 25px;
    box-shadow: 	
    0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.profile-picture{
    
    border-radius: 50%;
    border: 1px solid rgb(206, 30, 30); 
    background-color: rgb(0, 235, 235);
}
.profile-picture img{
    background-color: rgb(144, 56, 185);
    border-radius: 50%;
    height: 100%;
    width:100%;
}
.full-name{ 
    
    border-radius: 20px;
    border: 1px solid rgb(206, 30, 30); 
    background-color: rgb(133, 17, 179);
}
.about{    
    border-radius: 20px;    
    border: 1px solid rgb(206, 30, 30); 
    background-color: azure;
}


