
.navbar{
	width: 40%;
	height: 50px;
	margin-top:15px ;
	border:2px solid black;
	background-color:rgb(252, 252, 252);
	border-radius: 25px;
	box-shadow: 
	-10px -10px 15px rgba(255,255,255,0.5),
	10px 10px 15px rgba(70,70,70,0.12);
	/* position: sticky; */
	/* align-items: center; */

	/* 0px 5px 10px 0px rgba(0, 0, 0, 0.5);  */
	/* display: grid; */
	/* justify-content: center; */
}

.navbar ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* align-items: end; */

}
.navbar li a{
	color: rgb(116, 52, 52);
	text-decoration: none;
	font-size: 20px;
	margin-top: 20px;
	
}
.navbar ul:hover{
	height: 100%;
	
}
.navbar li:hover{
	height: 100%;
	
	background-color: black;
	border-radius: 25px;
	


}
.navbar li a:hover{
	/* this style should be applied when hovering over parent div */
	color: aliceblue;
	
}